.badge-container {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
    min-width: 100%;
}


.badge {
    align-items: center;
    margin: 0 5px;
}

.centertext {
    display: flex;
    font-size: 120%;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 10px;
}